.modal_op_context{
    /* display: none; */
    z-index: 2;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.726);
}

.modal_op_box{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    border-radius: 0.5rem;
    margin: 5% auto;
    background-color: rgb(217, 219, 202);
}

.modal_op_message{
    background: none;
    color: rgb(29, 29, 29);
    /* color: white; */
    font-size: medium;
    margin-left: 5%;
}

.modal_opp_buttons{
    display: flex;
    width: 100%;
    background:none;
}

.modal_opp_buttons i{
    background:none;
}

.cancel_button, .ok_button{
    background: none;
    border: none;
    font-size: large;
    color: rgba(0, 0, 0, 0.842);
    background-color: rgba(0, 0, 0, 0.596);
    cursor: pointer;
    width: 100%;
}

.cancel_button{
    border-bottom-left-radius: 0.5rem;
}

.ok_button{
    border-bottom-right-radius: 0.5rem;
}

.cancel_button:hover{
    background-color: rgb(231, 69, 58);
    color: white;
}

.ok_button:hover{
    background-color: rgb(1, 139, 116);
    color: white;
}

.cancel_button:active{
    background-color: rgb(179, 25, 14);
}

.ok_button:active{
    background-color: rgb(1, 87, 72);
}