@import url(card_buttons.css);
@import url(card.css);
@import url(mobile.css);

:root {
    --white:rgb(255,255,255);
    --almost_white:rgb(231, 231, 231);
    --light_green_blue:rgb(27, 185, 159);
    --green_blue:rgb(1, 139, 116);
    --dark_green_blue:rgb(1, 110, 92);
    --semi_dark:rgb(43, 43, 43);
    --almost_dark:rgb(27, 27, 26);
    --transp_dark:rgba(22, 22, 22, 0.705);
    --red: rgb(255, 82, 51);
    --dark_red:rgb(219, 50, 20);
    --orange: darkorange;
    --darker_orange:rgb(255, 115, 0);
    --semi_orange:.0rem .0rem .2rem rgba(255, 140, 0, 0.644);
    --pastel_blue:rgb(97, 191, 235);
}

*{
    background-color:var(--almost_dark);
}

.App{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.movies_list{
    background-color:var(--semi_dark);
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
}
