@import url(pages_buttons.css);
:root {
    --white:white;
    --light:rgb(245, 245, 245);
    --grey:rgb(80, 80, 80);
    --almost_dark:rgb(27, 27, 26);
    --orange: darkorange;
    --light_pink_red:rgb(247, 37, 79);
    --pink_red:crimson;
    --dark_pink_red:rgb(206, 6, 46);
}

.pages{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    text-align: left;
    background-color:var(--almost_dark);
    width: 100vw;
    height: 100vh;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.pages a{
    background: none;
    display: contents;
}

.pages_header{
    display: flex;
    width: 100%;
}

.pages h1{
    background: none;
    color: var(--orange);
    font-weight: lighter;
    text-transform: uppercase;
    width: 100%;
}

main{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main img{
    width: 20%;
    margin: 2% 0%;
}

.pages h2, .pages p{
    background: none;
    color: var(--white);
    font-weight: lighter;
    margin: 0;
    padding: 0;
}

@media only screen and (max-width:450px) {
    main img{
        width: 80%;
    }
}