.back_home a{
  background: none;
  display: contents;
  text-decoration: none !important;
}

.back_button:hover {
  background-color: rgb(1, 139, 116);
  cursor: pointer;
}

.back_button:active {
  background-color: var(--light_pink_red);
}

.back_button i {
  font-size: medium;
  background: none;
  color: rgba(255, 255, 255, 0.568);
}

.back_button:hover i{
  color: white;
}