/* BUTTONS */
.card_buttons{
    background-color: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    width: 25%;
    align-items: flex-end;
    margin-right: 1%;
}

.favorite_button, .delete_button, .edit_button, .movie_detail_button{
    z-index: 1;
    border: none;
    border-radius: 1rem;
    background-color: var(--green_blue);
    color: var(--light_green_blue);
    width: 1.9rem;
    height: 1.9rem;
    right: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.favorite_button i, .delete_button i, .edit_button i, .movie_detail_button i{
    background: none;
    margin: 0;
    padding: 0;
}

.favorite_button{
    z-index: 2;
    top: 1%;
    right: 1%;
    background-color:rgba(0, 0, 0, 0.288);
    color: rgba(255, 255, 255, 0.432);
    position: absolute;
}

.favorite_button:hover, .movie_detail_button:hover{
    background-color:rgba(163, 163, 163, 0.705);
    color: white;
}

.favorite_button:active{
    background-color: rgba(236, 183, 9, 0.856);
    color:white;
}

.favorite_button:after{
    background-color: rgba(255, 255, 255, 0.726);
    color:rgb(236, 183, 9);
}

.movie_detail_button{
    z-index: 2;
    bottom: 1%;
    right: 1%;
    background-color:rgba(0, 0, 0, 0.288);
    color: rgba(255, 255, 255, 0.432);
    position: absolute;
}

.movie_detail_button:active{
    background-color: rgba(9, 100, 236, 0.856);
    color:white;
}

.delete_button:hover{
    background-color:var(--dark_green_blue);
    color: var(--white);
}

.delete_button:active{
    background-color:var(--red);
    color: var(--white);
}

.edit_button:hover{
    background-color:var(--dark_green_blue);
    color: var(--white);
}

.edit_button:active{
    background-color:var(--green);
    color: var(--white);
}