
.button_open_form_opened, .button_open_form_closed{
    position: fixed;
    bottom: 1%;
    right: 2%;
    background-color: var(--almost_dark);
    border: none;
    border-radius: 2em;
    width: 2.5rem;
    height: 2.5rem;
    filter:drop-shadow(.0rem .0rem .2rem rgba(0, 0, 0, 0.301));
}

.button_open_form_opened{
    background-color: var(--red);
    z-index: 3;
}

.button_open_form_opened:hover{
    background-color: var(--dark_red);
    cursor: pointer;
}

.button_open_form_closed:hover{
    background-color: var(--green_blue);
    cursor: pointer;
}

.button_open_form_opened:active, .button_open_form_closed:active{
    background-color: var(--dark_green_blue);
}

.button_open_form_opened i, .button_open_form_closed i{
    color: white;
    background:none;
}

.fav_actived, .fav_actived:hover{
    background-color: rgb(196, 153, 12);
    cursor: pointer;
}