@media only screen and (max-width:450px) {
 
.input_form {
    width: 90% !important;
}    

.movie_card{
    width: 43%;
    margin: 3.5%;
}
    
.movie_img{
    background-color: var(--almost_dark);
}

.card_text h1{
    font-size: small;
}

.card_text h2{
    font-size: x-small;
}
    
}