@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');

.desktop_navigation{
    width: 100%;
    height: 5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.mobile_nav_bar, .mobile_app_bar{
    display: none;
}

.logo, .searcher{
    background: none;
}

.logo{
    font-size: x-large;
    /* font-family: 'Monoton', Arial, Helvetica, sans-serif; */
    font-family: 'Fredericka the Great', Arial, Helvetica, sans-serif;
    color:rgb(1, 139, 116);
    margin-left: 2rem;
    cursor: pointer;
    width: 25%;
}

.logo_movie{
    color: rgb(139, 10, 1);
}

.searcher{
    width: 35%;
    display: flex;
    justify-content: center;
    position: relative;
}

.searcher input{
    width: 100%;
    height: 2rem;
    position: relative;
    border: none;
    background-color: rgba(0, 0, 0, 0.192);
    padding-left: 1rem;
    border-radius: 0.2rem;
}

.searcher input:hover, .searcher input:active, .searcher input:focus{
    background-color: rgba(255, 255, 255, 0.897);
    padding-left: 1rem;
}

.searcher button{
    background: none;
    border: none;
    width: 2rem;
    height: 2rem;
    position: absolute;
    right: 2%;
}

.searcher button i{
    background:none;
}

.nav{
    width: 40%;
    display: flex;
    justify-content: space-around;
}

.nav a{
    font-size: small;
    color: rgba(255, 255, 255, 0.616);
    padding: 0.4rem 0.7rem;
    cursor: pointer;
}

.nav a:hover{
    background-color: var(--green_blue);
    /* color: var(--almost_dark); */
    color: white;
    border-radius: 0.2rem;
}

.nav a:active{
    background-color: var(--light_green_blue);

}
