@import url(..//modalForm/mobileFormModal.css);
@import url(form_buttons.css);

:root {
    --white:rgb(255,255,255);
    --almost_white:rgb(231, 231, 231);
    --light_green_blue:rgb(27, 185, 159);
    --green_blue:rgb(1, 139, 116);
    --dark_green_blue:rgb(1, 110, 92);
    --semi_dark:rgb(43, 43, 43);
    --almost_dark:rgb(27, 27, 26);
    --transp_dark:rgba(22, 22, 22, 0.705);
    --red: rgb(255, 82, 51);
    --dark_red:rgb(219, 50, 20);
    --orange: darkorange;
    --darker_orange:rgb(255, 115, 0);
    --semi_orange:.0rem .0rem .2rem rgba(255, 140, 0, 0.644);
    --pastel_blue:rgb(97, 191, 235);
}

/* section */

.formBackground{
    z-index: 1;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.521);
    display: flex;
    justify-content: center;
}

.form_and_preview{
    z-index: 3;
    display: flex;
    justify-content:center;
    align-items: center;
    background-color:var(--green_blue);
    position: fixed;
    width: 50%;
    height: 80%;
    top: 10%;
    border-radius: 1rem;
    filter:drop-shadow(.2rem .2rem .5rem var(--almost_dark));
    flex-direction: column;   
}

.input_form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    width: 90%;
    height: 50%;
    background:none;
    margin-top: 2%;
}

.input_form input{
    background-color: var(--almost_white);
    border-style: solid;
    border-radius: 0.2rem;
    height: 15%;
    border-width: 0.05rem;
    border-color: rgb(1, 139, 116);
    color: var(--almost_dark);
    padding: 0 5%;
}

.input_form input:hover, .input_form input:focus{
    background-color: rgba(255, 255, 255, 0.719);
    color: rgb(1, 139, 116);
}
