
i{
    background: none;
}

.create_button, .update_button, .clear_button .close_form{
    background-color: var(--semi_dark);
    color: var(--almost_white);
    border: none;
    padding: 0.2rem 0.5rem;
    width: 100%;
    position: relative;
    border-radius: 0.2rem;
    height: 15%;}

.clear_button, .close_form{
    z-index: 1;
    width: 50%;
    position: absolute;
    font-size: medium;
    background: none;
    border: none;
    color:rgba(255, 255, 255, 0.493);
    height: 10%;
}

.clear_button{
    top: 0;
    left: 0;
    border-top-left-radius: 1rem;
}

.close_form{
    top: 0;
    right: 0;
    border-top-right-radius: 1rem;
}

.clear_button:hover, .close_form:hover{
    background-color: var(--light_green_blue);
    color: var(--white);
    cursor: pointer;
}

.clear_button:active, .close_form:active{
    background-color: var(--dark_green_blue);
    color: var(--white);
}

/* .close_form:hover{
    background-color: var(--red);
    color: var(--white);
    cursor: pointer;
} */

/* .close_form:active{
    background-color: var(--dark_red);
    color: var(--white);
} */

.create_button{
    background-color: rgba(58, 104, 105, 0.712);
}

.create_button, .update_button{
    border-style: solid;
    border-width: 0.05rem;
    border-color: rgb(1, 139, 116);
}

.create_button:hover{
    background-color: var(--dark_green_blue);
    cursor: pointer;
}

.create_button:active{
    background-color: var(--green_blue);
}

.update_button{
    background-color: rgba(134, 202, 55, 0.712);
}

.update_button:hover{
    background-color: var(--dark_green);
    cursor: pointer;
}

.update_button:active{
    background-color: var(--light_green);
}