@media only screen and (max-width:450px) {
 
    .slider_card{
        width: 95%;
        margin: 2.5%;
    }
        
    .slider_img{
        background-color: var(--almost_dark);
        height: 30rem;
    }
    
    .slider_card_text h1{
        font-size: large;
        font-weight: 500;
    }

    .slider_favorite_button i{
        font-size: larger;
    }

    .slider h1{
        font-size: large;
        color: aqua;
    }
}
        