@import url(slider_buttons.css);
@import url(slider_mobile.css);

:root {
    ----green_blue: rgb(1, 139, 116);
}

.slider_card{
    width: 16%;
    min-width: none;
    min-height: 12rem;
    margin: 2%;
    filter:drop-shadow(.2rem .2rem .5rem var(--almost_dark));
}

/* .slider_card:hover{
    filter:drop-shadow(.0rem .0rem .2rem var(--green_blue));
} */

/* SLIDER INFO */

.slider_info{
    background-color:rgb(32, 32, 32);
    height: 10%;
    width: 100%;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--green_blue);
    flex-direction: column;
}

.slider_info h1{
    background: none;
    font-size: small;
    margin: 0;
    padding: 0;
    font-weight: 400;
}

/* SLIDER IMAGE */

.slider_img{
    background-color: var(--almost_dark);
    position: relative;
    height: 80%;
    width: 100%;
    display: flex;
}

.slider_img a{
    display: contents;
}

.slider_img img{
    width: 100%;
    height: 100%;
    object-fit:fill;
}

.left_img_zone{
    z-index: 1;
    position: absolute;
    width: 20%;
    height: 100%;
    left: 0;
    background-color: rgba(0, 0, 0, 0);
}

.right_img_zone{
    z-index: 1;
    position: absolute;
    width: 20%;
    height: 100%;
    right: 0;
    background-color: rgba(0, 0, 0, 0);
}

.right_img_zone:hover, .left_img_zone:hover{
    /* background-color: rgba(0, 0, 0, 0.096); */
    cursor: pointer;
}

/* MOVIE INFO */

.slider_movie_info{
    background-color:rgb(32, 32, 32);
    height: 10%;
    display: flex;
    flex-direction: row;    
    align-items: center;
    position: relative;
}

.slider_card_text{
    background-color: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    height: 100%;
    margin: 0 0 0 5%;
}

.slider_card_text h1{
    background-color: inherit;
    color: var(--white);
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: large;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--green_blue);

}

.favZone{
    background: none;
    height: 100%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}