:root {
    --white:rgb(255,255,255);
    --almost_white:rgb(231, 231, 231);
    --light_green_blue:rgb(27, 185, 159);
    --green_blue:rgb(1, 139, 116);
    --dark_green_blue:rgb(1, 110, 92);
    --semi_dark:rgb(43, 43, 43);
    --almost_dark:rgb(27, 27, 26);
    --transp_dark:rgba(22, 22, 22, 0.705);
    --red: rgb(255, 82, 51);
    --dark_red:rgb(219, 50, 20);
    --orange: darkorange;
    --darker_orange:rgb(255, 115, 0);
    --semi_orange:.0rem .0rem .2rem rgba(255, 140, 0, 0.644);
    --pastel_blue:rgb(97, 191, 235);
}

/* section */
.form_and_preview{
    position: relative;
    width: 100%;
    display: flex;
    justify-content:center;
    align-items: center;
}

.input_form {
    height: 15vh;
    padding: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}

.input_form input{
    background-color: var(--almost_white);
    border-style: solid;
    border-width: 0.1rem;
    color: var(--almost_dark);
}

.create_button, .updateForm_button{
    background-color: var(--semi_dark);
    color: var(--white);
    border: none;
    padding: 0.2rem 0.5rem;

}

.create_button:hover, .updateForm_button:hover{
    background-color: var(--dark_green_blue);
}

.create_button:active{
    background-color: var(--green_blue);
}

.updateForm_button:active{
    background-color: var(--green);
}

/* OPCIÓ 2 SHOW&HIDE FORM: FORMBINDING RENDER CLASS &{} + 2 CLASSES CSS FORM + MOVIELIST RENDER COMENTAT */
/* CLASSES ASSOCIADES AL BOTÓ I AL FORM PER CANVIAR ENTRE SHOW & HIDE FORMULARI */

.form_active{
    display: flex;
}

.form_inactive{
    display: none;
}