@media only screen and (max-width:450px) {
 
    .movie_card{
        width: 46%;
        height: 50%;
        margin: 2%;
    }
    
    .movie_img{
        background-color: var(--almost_dark);
    }

    .card_text h1{
        font-size: small;
    }

    .card_text h2{
        font-size: x-small;
    }
    
    }